html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
* {
  font-family: Gilroy;
}
.pay-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}
.pay-content {
  position: relative;
  min-height: 100vh;
}
#orange-ray {
  position: absolute;
  left: 10%;
  width: 115.65px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0) !important;
}
#white-ray {
  position: absolute;
  width: 135.8px;
  bottom: 10%;
  right: 16%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0) !important;
}
#sun-img {
  position: absolute;
  width: 93px;
  height: 93px;
  right: 25%;
  top: 20%;
}
#cred-pay-logo {
  width: 120.24px;
  height: 46.45px;
  margin-top: 100px;
}
.intro-text {
  margin-top: 200px;
  color: rgb(193, 255, 17);
}
@font-face {
  font-family: medusa;
  src: url(../assets/OleoScript-Regular.ttf);
}
#intro-main {
  font-family: Gilroy !important;
  font-style: normal !important;
  font-weight: 700 !important;
  z-index: 10 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.intro-text h1 {
  position: relative;
  font-family: medusa !important;
  font-size: 150px !important;
  font-style: italic;
  font-weight: 900;
  line-height: 135px;
  text-align: center;
  letter-spacing: -0.02em;
  z-index: 10 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.dump {
  margin-top: 40px !important;
}
#rainbow-img {
  width: 70%;
  position: absolute;
  bottom: -100px;
  transform: rotate(1deg);
  z-index: 1 !important;
}
.sec-page {
  min-height: 100vh;
  text-align: center;
}
.sec-page h1 {
  font-family: medusa;
  font-size: 110px;
  line-height: 80px;
  letter-spacing: -0.01em;
  color: rgb(210, 255, 209);
  font-style: italic;
  font-weight: bold;
}
.sec-page-txt {
  font-family: medusa;
  font-weight: normal !important;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0) !important;
}
.sec-page-sub-txt {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 27px;
  max-width: 543px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-top: 80px !important;
}
.green-sub-txt {
  font-size: 12.2108px;
  line-height: 15px;
  letter-spacing: 0.46em;
  text-transform: uppercase;
  color: rgb(200, 255, 45);
  margin-top: 100px !important;
}
.arrow {
  width: 45px !important;
  height: 17px;
  margin-top: 130px;
  animation: 1s ease 0s infinite alternate none running upDown;
}
.feature-section {
  margin-bottom: 250px;
}
.feature-video {
  width: 326px;
  height: 615.22px;
  margin-left: 50px;
}
.v-2 {
  margin-left: 20px !important;
}
.feature-main {
  font-family: medusa;
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.01em;
  white-space: pre-line;
  color: rgb(0, 255, 144);
  opacity: 0.9;
  margin-left: -10px;
  padding-left: 10px;
  font-weight: bold;
  font-style: italic;
}
.feature-sub {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  max-width: 347.65px;
  margin-top: 50px;
}
.shopping,
.upi,
.personalize {
  margin-bottom: 250px;
}
.security {
  margin-bottom: 250px;
}
.shopping-txt {
  font-family: Gilroy;
  font-size: 49.59px;
  max-width: 842px;
  line-height: 80px;
  letter-spacing: -0.03em;
  margin-top: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.shopping-sub {
  font-family: medusa !important;
  font-size: 54px !important;
  font-weight: bold;
  font-style: italic;
}
.security-txt {
  font-family: medusa;
  font-weight: bold;
  font-style: italic;
  font-size: 110px;
  line-height: 100px;
  text-align: center;
  letter-spacing: -0.01em;
  color: rgb(210, 255, 209);
}
.security-txt span {
  font-family: medusa;
  font-weight: bold;
  font-style: italic;
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0) !important;
}
.upi-txt {
  font-size: 32px;
  line-height: 41px;
  max-width: 304px;
  letter-spacing: -0.03em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.upi-sub-txt {
  font-size: 22px;
  line-height: 31px;
  max-width: 452px;
  margin-top: 50px;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.personalize-txt {
  font-family: medusa;
  font-size: 110px;
  line-height: 89px;
  text-align: center;
  letter-spacing: -0.01em;
  color: rgb(210, 255, 209);
}
.personalize-sub-txt {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-top: 80px;
}
.bg-change {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 180px;
}
.bg-content {
  transition: all 0.7s ease-out 0s;
  position: absolute;
  /* background-image: url(/lunar-orange.png); */
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  bottom: 10%;
}
.mobile-bg {
  background-image: url(/iphone-model.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 354.52px !important;
  height: 669.03px !important;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0) !important;
}
.phone-skin {
  width: 272.54px;
  height: 595.85px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  /* margin-right: 20px; */
}
.planet-image {
  position: absolute;
  width: 100%;
  height: 200px;
  max-width: 500px !important;
  z-index: 9999999;
  bottom: -13% !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
/* .planet-1 {
  transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1) 0s;
  top: 32%;
  left: 25%;
  background-color: rgba(0, 0, 0, 0) !important;
  width: 79.7px;
  height: 79.7px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2.44962px solid rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  transform-origin: center center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
} */
/* .planet-2 {
  background-color: rgba(0, 0, 0, 0) !important;
  top: 32%;
  left: 25%;
  width: 79.7px;
  height: 79.7px;
  border: 2.44962px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
  outline: none;
  cursor: pointer;
  transform-origin: center center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
} */
/* .planet-3 {
  transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1) 0s;
  top: 32%;
  left: 75%;
  background-color: rgba(0, 0, 0, 0) !important;
  width: 79.7px;
  height: 79.7px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2.44962px solid rgb(255, 255, 255);
  outline: none;
  cursor: pointer;
  transform-origin: center center;
} */
.planets-icon {
  background-color: rgba(0, 0, 0, 0) !important;
  height: 100%;
  width: 100%;
}
.planet-caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0) !important;
  bottom: -5% !important;
  z-index: 50;
}
.planet-text {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 19.4276px;
  line-height: 39px;
  letter-spacing: 0.5em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-top: -50px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.planet-sub-text {
  font-family: Gilroy;
  font-size: 11.6566px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.18em;
  color: rgb(70, 255, 53);
  opacity: 0.5;
  margin-top: 19.5px;
  background-color: rgba(0, 0, 0, 0) !important;
}
.flairs {
  margin-bottom: 130px;
}
.behold-txt {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 23.32px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  opacity: 0.98;
}
.small-line {
  width: 25px;
  border: 2px solid !important;
  border-color: white !important;
  margin-top: 37px;
  opacity: 1 !important;
}
.flairs-txt {
  font-family: medusa;
  font-size: 249px;
  line-height: 249px;
  color: rgba(40, 88, 255, 0.8);
  opacity: 0.89;
}
.flairs-txt span {
  font-family: medusa;
  font-style: italic;
  font-size: 249px;
  line-height: 249px;
  color: rgba(40, 88, 255, 0.8);
  opacity: 0.89;
  background-color: rgba(0, 0, 0, 0) !important;
}
.flairs-content {
  font-family: medusa;
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -2px;
  white-space: pre-line;
  color: rgb(51, 96, 252);
}
.perks-img {
  width: 356.01px !important;
  height: auto;
  animation: 1s ease 0s infinite alternate none running perks-animation;
}
.perks-sub-txt,
.scan-txt {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.29em;
  color: rgb(255, 255, 255);
  margin-top: 76px;
  opacity: 0.9;
}
.perks-txt {
  font-family: medusa;
  font-weight: bolder;
  font-style: italic;
  font-size: 90px;
  white-space: pre-line;
  line-height: 80px;
  letter-spacing: -0.01em;
  margin-top: 21px;
  color: rgb(235, 255, 10);
  opacity: 0.9;
}
.perks-content-txt {
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  max-width: 555.01px;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  opacity: 0.9;
}
.perks-img-2 {
  width: 356.01px !important;
  height: auto;
  animation: 1s ease 0s infinite alternate none running perks-animation;
  margin-top: 120px;
}
.perks-content-2 {
  font-family: medusa;
  font-style: italic;
  font-size: 90px;
  white-space: pre-line;
  line-height: 80px;
  letter-spacing: -0.01em;
  margin-top: 31px;
  color: rgb(94, 255, 185);
  opacity: 0.9;
}
.perks-img-3 {
  display: block;
  width: 75vw;
  max-width: 340px;
  margin-bottom: 50px;
  margin-top: 150px;
}
.perks-txt-2 {
  font-family: medusa;
  font-weight: bold;
  font-style: italic;
  color: rgb(255, 255, 255);
  font-size: 88px;
  line-height: 80px;
  letter-spacing: -0.03em;
  max-width: 550px;
  text-align: center;
  margin-bottom: 50px;
}
.know-more-btn {
  margin-top: 50px;
  margin-bottom: 150px;
  width: 250px !important;
  background-color: rgb(6, 194, 112) !important;
  color: black;
  font-family: Gilroy;
  font-size: 19px !important;
  letter-spacing: 2px !important;
  line-height: 23px !important;
  padding: 20px 34px !important;
}
.arrow {
  background-color: rgba(0, 0, 0, 0) !important;
}
.arrow svg {
  background-color: rgba(0, 0, 0, 0) !important;
}
.scroll-container {
  background-color: rgb(61, 255, 42) !important;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  position: relative;
}

.scroll-text {
  background-color: rgb(61, 255, 42) !important;
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}
.scroll-text h3 {
  font-family: "Overpass Mono", monospace !important;
  background-color: rgb(61, 255, 42) !important;
  display: inline-block;
  margin: 0 15px;
  font-size: 18px !important;
  letter-spacing: 2px;
  line-height: 21px !important;

  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  padding: 10px 0;
}
.circle-icon {
  margin-top: 5px !important;
  margin-right: 10px;
}
.footer {
  padding-bottom: 80px;
  margin-top: 150px !important;
}
.footer h1 {
  font-family: medusa;
  font-style: italic;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: -0.02em;
  max-width: 756px;
  color: white;
  white-space: pre-line;
}
.cred-pay-txt {
  color: rgb(61, 255, 42) !important;
  font-family: medusa;

  font-style: italic;
}
.links-section {
  margin-top: 150px !important;
}
.footer-txt {
  font-family: Gilroy;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.2px;
  margin-right: 12px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.cred-footer-logo {
  width: 67.96px;
  height: 92.3px;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1500px);
  }
}

@keyframes perks-animation {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
@media (max-width: 680px) {
  .intro-text h1 {
    font-family: medusa !important;
    font-size: 70px !important;
    line-height: 70px;
    display: block;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgb(193, 255, 17);
    margin-bottom: -40px;
  }
  #rainbow-img {
    width: 100%;
    position: unset;
    margin-top: -125px;
    transform: rotate(0deg);
    margin-bottom: 105px;
  }
  #white-ray,
  #orange-ray,
  #sun-img {
    display: none !important;
  }
  .sec-page h1 {
    font-family: medusa !important;
    font-size: 52px !important;
    line-height: 46px !important;
  }
  .sec-page span {
    font-family: medusa !important;
    font-size: 52px !important;
  }
  .sec-page-sub-txt {
    margin-top: 50px !important;
  }
  .feature-main {
    width: 100%;
    font-size: 50px;
    text-align: center;
    line-height: 45px;
    font-family: medusa !important;
  }
  .feature-sub {
    font-size: 14px;
    margin-top: 30px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
  }
  .feature-video {
    width: 192.4px;
    height: 363.09px;
    margin: 80px 0px 0px;
  }
  .feature-section {
    margin-bottom: 30px !important;
  }
  #snp-merchants {
    width: 98%;
  }
  .shopping-txt {
    font-size: 20px;
    line-height: 30px;
    margin-top: 70px;
  }
  .shopping-sub {
    font-size: 20px !important;
    line-height: 30px !important;
    font-family: medusa !important;
  }
  .shopping {
    margin-bottom: 130px;
  }
  .security-txt {
    font-family: medusa;
    font-size: 52px;
    line-height: 46px;
    text-align: center;
    letter-spacing: -0.01em;
    color: rgb(210, 255, 209);
  }
  .security-txt span {
    font-family: medusa;
    font-size: 52px;
    line-height: 46px;
    text-align: center;
    letter-spacing: -0.01em;
    color: rgb(210, 255, 209);
    font-weight: normal !important;
  }
  .security {
    margin-bottom: 50px;
  }
  .security-video {
    width: 243px;
    height: 127px;
    margin-bottom: 40px;
  }
  .upi-txt {
    font-size: 26px !important;
    line-height: 32px !important;
    text-align: center !important;
  }
  .upi-txt-container {
    align-items: center !important;
  }
  .upi-sub-txt {
    font-size: 14px;
    line-height: 22px;
    max-width: 280px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.01em;
  }
  .upi,
  .personalize {
    margin-bottom: 70px;
  }
  .personalize-txt {
    font-size: 52px;
    line-height: 46px;
    max-width: 265px;
  }
  .personalize-sub-txt {
    font-size: 14px;
    max-width: 311px !important;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-top: 50px;
  }
  .bg-content {
    background-size: 230%;
    bottom: 15%;
  }
  .mobile-bg {
    width: 201.3px !important;
    height: 379.88px !important;
  }
  .phone-skin {
    width: 158.85px !important;
    height: 339.76px !important;
  }
  .planet-image {
    width: 65%;
    bottom: 14% !important;
  }
  .planet-1,
  .planet-2,
  .planet-3 {
    background-color: rgba(0, 0, 0, 0) !important;
    width: 45.26px !important;
    height: 45.26px !important;
    margin-right: 5px !important;
  }
  .planets-icon {
    width: 45.26px !important;
    height: 45.26px !important;
  }
  .planet-sm {
    width: 65.4px !important;
    height: 65.4px !important;
  }
  .planet-caption {
    z-index: 50 !important;
    bottom: 30% !important;
  }
  .planet-text {
    font-size: 15px;
    line-height: 39px;
  }
  .planet-sub-text {
    font-size: 12px;
    line-height: 15px;
  }
  .bg-change {
    margin-bottom: 50px;
  }
  .behold-txt {
    font-size: 20px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.5em;
  }
  .small-line {
    margin-top: 5px;
    border: 1px solid rgb(255, 255, 255) !important;
  }
  .flairs-txt {
    font-size: 120px;
    line-height: 120px;
  }
  .flairs-txt span {
    font-size: 120px;
    line-height: 120px;
  }
  .flair-img-1 {
    width: 100% !important;
  }
  .flair-img-2 {
    width: 349.73px !important;
  }
  .flairs-content {
    font-size: 50px;
    line-height: 42px;
    letter-spacing: -0.01em;
    text-align: center;
  }
  .flair-content-sub {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .perks-img {
    width: 251.59px !important;
  }
  .perks-sub-txt {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.25em;
    margin-top: 55px;
  }
  .perks-txt {
    font-size: 52px;
    line-height: 46px;
    margin-top: 12px;
  }
  .perks-content-txt {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
  }
  .perks-img-2 {
    width: 251.59px !important;
    margin-top: 35px;
  }
  .perks-content-2 {
    font-size: 52px;
    line-height: 46px;
    margin-top: 12px;
  }
  .perks-txt-2 {
    font-size: 60px;
    line-height: 52px;
    max-width: 82vw;
  }
  .know-more-btn {
    font-size: 16px !important;
    line-height: 19px !important;
  }
  .scroll-text h3 {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .footer {
    padding: 56px 38px 65px 40px;
    margin-top: 0 !important;
  }
  .footer h1 {
    font-size: 28px;
    line-height: 31px;
    max-width: 266px;
    margin-bottom: 100px;
    text-align: left;
  }
  .footer span {
    font-size: 28px;
    line-height: 31px;
    max-width: 266px;
    margin-bottom: 100px;
    text-align: left;
  }
  .links-section {
    margin-top: 0 !important;
  }
  .footer-txt {
    font-size: 9px;
    line-height: 14px;
    margin-right: 5px;
    letter-spacing: 0.2px;
    color: rgb(255, 255, 255);
    opacity: 0.7;
  }
  .cred-footer-logo {
    width: 43px;
    height: 55.43px;
  }
}

/* .planet-1 {
  width: 45.26px !important;
  height: 45.26px !important;
  margin-right: 5px !important;
}
.planet-3 {
  width: 45.26px !important;
  height: 45.26px !important;
  margin-right: 5px !important;
}
.planets-icon {
  width: 45.26px !important;
  height: 45.26px !important;
} */
