.section-9 {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
}
.section-9-content {
  gap: 60px;
  width: 100%;
}
.placeholder {
  width: 100%;
  height: 200px;
  background-color: transparent !important;
}
.section-9-main {
  width: 100%;
  gap: 45px;
}

.banner-txt {
  width: 100%;
  font-family: Gilroy;
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.382px;
  text-align: center;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-left: 20px;
}
.banner-wrap {
  max-width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6.96986px);
  padding: 20px 25px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.sec-9-header {
  font-family: denton;
  font-size: 112px;
  font-weight: 700;
  line-height: 108px;
  letter-spacing: -0.5px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.sec-9-sub-txt {
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  max-width: 80%;
}
.sec-9-4 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-9-btn {
  padding-bottom: 50px;
}
.btn-inner {
  margin-top: 53px;
  padding: 20px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  color: rgb(13, 13, 13);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.3);
  width: fit-content;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.btn-txt {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Gilroy;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.btn-arrow {
  width: 20px;
  height: 8px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .section-9 {
    min-height: 120vh;
  }
  .sec-9-header {
    margin-top: 100%;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 0;
  }
  .sec-9-sub-txt {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 0;
  }
  .sec-9-2 {
    padding: 0 30px;
    /* margin-top: 70%; */
  }
  .sec-9-3 {
    display: flex;
    justify-content: center;
    padding: 0 30px;
  }
}
