.main {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}
video {
  width: 100vw;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  z-index: 10;
}
.menu-section {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

@font-face {
  font-family: denton;
  src: url("./assets/DentonTest-Bold.otf");
}
@font-face {
  font-family: denton-regular;
  src: url("https://web-assets.cred.club/v2/_next/assets/fonts/Denton-Light.woff");
}

/* font-family: denton;

text-align: center;

display: flex;
flex-direction: column;
-webkit-box-pack: center;
justify-content: center;
gap: 20px;
-webkit-box-align: center;
align-items: center;
max-width: 80%;
width: 100%; */

@media (max-width: 768px) {
  #banner-container,
  .banner-main {
    display: none !important;
  }
  .content h1 {
    font-family: denton;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.6px;
    max-width: 80%;
    text-align: center;
    margin-bottom: 40%;
  }

  /* .menu-section {
    padding: 64px 40px 0px;
  } */
  .upi-container {
    width: 185px;
    height: 50px;
    padding: 10px 10px;
  }
  .upi-container svg {
    width: 70px;
  }
  .navbar-brand {
    width: 70px;
  }
  .navbar-brand svg {
    width: 50%;
  }
  .menu-bar .container-fluid {
    justify-content: space-evenly !important;
  }
  .vertical-line {
    margin-right: 10px;
    height: 50px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .intro-sub-txt {
    color: rgba(255, 255, 255, 0.8);
    margin-top: auto;
    text-shadow: none;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}
@media (min-width: 768px) {
  .content h1 {
    font-family: denton;
    font-size: 114px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: -0.4px;
    margin-bottom: 88px;
  }
  .menu-section {
    padding: 70px 130px;
  }
  .intro-sub-txt {
    width: 100%;
    font-family: gilroy;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.5px;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    margin-top: 258px !important;
  }
}
