* {
  background-color: black;
  font-family: Gilroy;
}
.pay-wrapper {
  min-height: 100vh;
  width: 100%;
}
.pay-content {
  position: relative;
  min-height: 100vh;
}
#orange-ray {
  position: absolute;
  left: 10%;
  width: 115.65px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0) !important;
}
#white-ray {
  position: absolute;
  width: 135.8px;
  bottom: 10%;
  right: 16%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0) !important;
}
#sun-img {
  position: absolute;
  width: 93px;
  height: 93px;
  right: 25%;
  top: 20%;
}
#cred-pay-logo {
  width: 120.24px;
  height: 46.45px;
  margin-top: 100px;
}
.intro-text {
  margin-top: 200px;
  color: rgb(193, 255, 17);
}
@font-face {
  font-family: medusa;
  src: url(./assets/NocturneSerifTest-ExtraBoldItalic.otf);
}
#intro-main {
  font-family: Gilroy !important;
  font-style: normal !important;
  /* font-weight: 700 !important; */
  z-index: 10 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.intro-text h1 {
  position: relative;
  font-family: medusa !important;
  font-size: 150px !important;
  font-style: italic;
  /* font-weight: 900; */
  line-height: 135px;
  text-align: center;
  letter-spacing: -0.02em;
  z-index: 10 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.dump {
  margin-top: 40px !important;
}
#rainbow-img {
  width: 70%;
  position: absolute;
  bottom: -100px;
  transform: rotate(1deg);
  z-index: 1 !important;
}
.sec-page {
  min-height: 100vh;
  text-align: center;
}
.sec-page h1 {
  font-family: medusa;
  font-size: 110px;
  line-height: 80px;
  letter-spacing: -0.01em;
  color: rgb(210, 255, 209);
  font-style: italic;
  /* font-weight: bold; */
}
.sec-page-txt {
  font-family: medusa;
  font-weight: normal !important;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0) !important;
}
.sec-page-sub-txt {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 27px;
  max-width: 543px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  margin-top: 80px !important;
}
.green-sub-txt {
  font-size: 12.2108px;
  line-height: 15px;
  letter-spacing: 0.46em;
  text-transform: uppercase;
  color: rgb(200, 255, 45);
  margin-top: 100px !important;
}
.arrow {
  width: 45px !important;
  height: 17px;
  margin-top: 130px;
  animation: 1s ease 0s infinite alternate none running upDown;
}
.feature-section {
  margin-bottom: 250px;
}
.feature-video {
  width: 326px;
  height: 615.22px;
  margin-left: 50px;
}
.v-2 {
  margin-left: 20px !important;
}
.feature-main {
  font-family: medusa;
  font-size: 90px;
  line-height: 80px;
  letter-spacing: -0.01em;
  white-space: pre-line;
  color: rgb(0, 255, 144);
  opacity: 0.9;
  margin-left: -10px;
  padding-left: 10px;
  /* font-weight: bold; */
  font-style: italic;
}
.feature-sub {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
  max-width: 347.65px;
  margin-top: 50px;
}
.shopping,
.upi {
  margin-bottom: 230px;
}
.security {
  margin-bottom: 250px;
}
.shopping-txt {
  font-family: Gilroy;
  font-size: 49.59px;
  max-width: 842px;
  line-height: 80px;
  letter-spacing: -0.03em;
  margin-top: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.shopping-sub {
  font-family: medusa !important;
  font-size: 54px !important;
  /* font-weight: bold; */
  font-style: italic;
}
.security-txt {
  font-family: medusa;
  /* font-weight: bold; */
  font-style: italic;
  font-size: 110px;
  line-height: 100px;
  text-align: center;
  letter-spacing: -0.01em;
  color: rgb(210, 255, 209);
}
.security-txt span {
  font-family: medusa;
  /* font-weight: bold; */
  font-style: italic;
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0) !important;
}
.upi-txt {
  font-size: 32px;
  line-height: 41px;
  max-width: 304px;
  letter-spacing: -0.03em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.upi-sub-txt {
  font-size: 22px;
  line-height: 31px;
  max-width: 452px;
  margin-top: 50px;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
@media (max-width: 680px) {
  .intro-text h1 {
    font-family: medusa !important;
    font-size: 70px !important;
    line-height: 70px;
    display: block;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgb(193, 255, 17);
    margin-bottom: -40px;
  }
  #rainbow-img {
    width: 100%;
    position: unset;
    margin-top: -125px;
    transform: rotate(0deg);
    margin-bottom: 105px;
  }
  #white-ray,
  #orange-ray,
  #sun-img {
    display: none !important;
  }
  .sec-page h1 {
    font-family: medusa !important;
    font-size: 52px !important;
    line-height: 46px !important;
  }
  .sec-page span {
    font-family: medusa !important;
    font-size: 38px !important;
  }
  .sec-page-sub-txt {
    margin-top: 50px !important;
  }
  .feature-main {
    width: 100%;
    font-size: 50px;
    text-align: center;
    line-height: 45px;
    font-family: medusa !important;
  }
  .feature-sub {
    font-size: 14px;
    margin-top: 30px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
  }
  .feature-video {
    width: 192.4px;
    height: 363.09px;
    margin: 80px 0px 0px;
  }
  .feature-section {
    margin-bottom: 30px !important;
  }
  #snp-merchants {
    width: 98%;
  }
  .shopping-txt {
    font-size: 20px;
    line-height: 30px;
    margin-top: 70px;
  }
  .shopping-sub {
    font-size: 20px !important;
    line-height: 30px !important;
    font-family: medusa !important;
  }
}
