.section-6 {
  width: 100%;
  position: relative;
  margin-top: 250px;
  border-image: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgb(74, 73, 73),
      rgb(0, 0, 0)
    )
    1 / 1 / 0 stretch;
  border-width: 1px;
  border-style: solid;
  border-left: 0 !important;
  border-right: 0 !important;
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
}
.section-6-video {
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  /* top: 0px; */
  width: 100%;
  z-index: 0;
}
.section-6-txt {
  position: absolute;
  width: 100%;
  height: 100% !important;
}
.section-6-header {
  font-family: denton;
  font-size: 114px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: -0.4px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}
.section-6-sub-txt {
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  opacity: 0.9;
  margin-top: 65px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .section-6-header {
    font-size: 68px;
    font-weight: 700;
    line-height: 60.163px;
    letter-spacing: 0.2px;
    padding: 0px 15px;
  }
  .section-6-sub-txt {
    max-width: 100%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    padding: 0px 40px;
  }
  .section-6 {
    margin-top: 150px;
  }
}
