@font-face {
  font-family: denton-regular;
  src: url("./assets/Denton-Light.woff");
}
#section-2 {
  background-color: black;
}

.section-2-content {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.section-2-txt,
.section-2-txt-copy {
  width: 100%;
  /* padding-right: 15px; */
  text-align: left;
}

.section-2-txt {
  font-family: denton-regular;
  font-size: 70px;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: 1.26px;
  color: rgb(51, 51, 51);
}
.section-2-txt-copy {
  position: absolute;
}
.section-2-txt-copy h1 {
  font-family: denton-regular;
  font-size: 70px;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: 1.26px;
  width: 0%;
  overflow: hidden;
  margin-bottom: -24px !important;
  color: white;
  text-wrap: nowrap;
}
.section-2-header {
  position: relative;
  left: 25%;
  font-family: Gilroy;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 200px !important;
  margin-bottom: 70px;
}
@media (max-width: 680px) {
  .section-2-txt,
  .section-2-txt-copy h1 {
    font-size: 34px !important;
    line-height: 48px !important;
  }
}
